

.input-field {
    display: flex;
    width: 100%;
    line-height: 35px;
    justify-content: center;
    margin: 5px;
    margin-bottom: 5px;
    padding: 5px 20px;
    position: relative;
    background-color: inherit;
    flex-direction: column;
    color: #959BA2;

}

.input-field > input {
    /* width: 60%;  */
    border: none;
    height: 45px;
    border-radius: 5px;
    border-bottom: 2.5px solid #f4f6f6;
    background-color: #ffffff;
    outline: none;
    color: black;
    padding: 0 5px;
    font-size: small;
    font-weight: bold;
    box-shadow: .5px rgba(0, 0, 0, 0.5);
}
.input-field > textarea {
    /* width: 60%;  */
    border: none;
    max-height: 160px;
    border-radius: 5px;
    border-bottom: 2.5px solid #f4f6f6;
    background-color: #ffffff;
    outline: none;
    color: black;
    padding: 0 5px;
    font-size: small;
    font-weight: bold;
    resize: none;
    box-shadow: .5px rgba(0, 0, 0, 0.5);
}

.input-label {
    padding: 2;
    line-height: auto;
    font-size: 16px;
    font-style: normal;
}

.input-field-select {
    display: flex;
    width: 100%;
    line-height: 35px;
    justify-content: center;
    margin: 5px;
    margin-bottom: 5px;
    padding: 5px 20px;
    position: relative;
    background-color: inherit;
    flex-direction: column;
    color: #959BA2;
}

.input-field-select-child-wrapper {
    height: 45px;
    border-radius: 5px;
}
.input-field-select-child-wrapper > select {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-transform: capitalize;
    color: #111111;
    font-size: small;
    outline: none;
}
.input-field-select-child-wrapper > select > option {
    color: #111111;
}

.input-field-eye-toggle {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: var(--mainColor);
}

.input-field-eye-toggle:hover {
    color: var(--mainColorB);
}



.input-field-radio-select {
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: left;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;

}

.input-field-radio-select > span {
    width: 35%; 
    /* background-color:  #eaeded; */
    padding: 2;
    line-height: auto;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
}

.input-field-radio-select-child-wrapper {
    display: flex;
    width: 60%; 
    outline: none;
    border: none;
    height: inherit;
    justify-content: space-evenly;
    border-bottom: 2px solid #f4f6f6;
    /* background-color: #f4f6f6; */
    border-radius: 2px;
    padding-left: 5px;
}

.input-field-tile-select-child-wrapper {
    width: 60%; 
    border: none;
    height: inherit;
    /* border-bottom: 2px solid #8f206e7a; */
    /* background-color: var(--labelColor); */
    border-radius: 4.5px;
    outline: none;

}

.input-field-radio-select-child:first-child{
    border-right: 2px solid var(--mainColor);
}

.input-field-radio-select-child > input   {
    cursor: pointer;
}

.input-field-radio-select-child   {
    width: 100%;
    margin: 2px;
    transition: all 1s;
}

.input-field-radio-select-child:hover  {
    opacity: .5;
    transition: all 1s;
}
.input-field-radio-select-child > label   {
    margin-right: 5px;
}



