.card {
    border-radius: 8px;
    /* width: 99%; */
    height: 130px;
    background-color: #ffffffbb;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.055);
    /* justify-content: space-between; */
    overflow: scroll;
}

.profile-img-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-item-flex-column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.card-item-flex-column > h2 {
    font-weight: bold;
}
.card-item-flex-row > h2 {
    font-weight: bold;
}
.card-item-flex-row {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(208, 199, 199, 0.13);
}
